/*CSS for my resume */
.page-content {
  padding-top: 10px;
  padding-bottom: 0px;
}
.post-content {
  margin: 0;
}
.post-content .firstrow {
  margin: 0;
  margin-bottom: 1.5em;
}
.post-content .row {
  margin: 0;
}
body {
  font-size: 1.3em;
}
.post-content .my-heading1 {
  margin: 0;
  padding: 0;
  font-size: 1.7em;
  letter-spacing: 0.3rem;
  font-weight: normal;
}
.post-content .my-heading2 {
  margin: 0;
  margin-bottom: 0.2em;
  padding: 0;
  font-size: 1.5em;
  letter-spacing: 0.1rem;
  font-style: italic;
  font-weight: normal;
}
.post-content .my-heading4 {
  margin: 0;
  margin-bottom: 0.1em;
  padding: 0;
  font-size: 1.2em;
  letter-spacing: 0.02rem;
  font-weight: bold;
}
.post-content h3 {
  letter-spacing: 0.1rem;
  padding-right: 2rem;
  font-size: 1.5em;
  font-style: italic;
  font-weight: normal;
  margin: 0.4em 0 0.25em 0;
  float: left;
}
.post-content .my-headingp {
  margin: 0;
  margin-bottom: -4px;
  line-height: 135%;
  padding-bottom: 2px;
}
.column, .columns {
  margin-left: 2%;
}

.post-content ol {
  list-style-type:none;
  margin: 1em 0em 0em 0em;
  display: inline-block;
  padding: 0;
  width: 100%;
}
.post-content ol li {
  width: 33%;
  margin: 0;
  margin-bottom: 1em;
  float: left;
}
.post-content hr {
  display: block;
  float:left;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top:1px solid #a6a6a6;
}
.post-content ul li {
   list-style-type:none;
  /*width: ;*/
}

.post-content ul {
  float: left;
  margin: 1em 0em 1em 2em;
  padding: 0;
  width: 90%;
}
.post-content p {
  float: left;
  margin: 0em 0em 0.1em 0em;
  width: 100%;
}
.post-content li p {
  margin: 0;
}


/* Larger than phone */
@media (min-width: 800px) {

.post-content h3 {
  font-style: italic;
  float: left;
  width: 30%;
  margin: 0.5em 0.5em 0 0;
}

.post-content ol {
  list-style-type:none;
  margin: 1em 0em 1em 1em;
  display: inline-block;
  padding: 0;
  width: 75%;
  margin-left: 25%;
}

.post-content ul {
  float: left;
  margin: 1em 0em 1em 0em;
  width: 75%;
}


.post-content ul li {
  list-style-type:none;
  /*width: ;*/
}

.post-content hr {
  position: relative;
  display: block;
  float:left;
  padding: 0;
  margin: 1em auto;
  width: 100%;
}

/* This is one is applied second*/
/* The tilde selects the any p element that follows an h3*/
.post-content h3 ~ p {
    float: left;
    margin-left: 24%;
    width: 74%;
}
/* This is one is applied first*/
/* The plus selects the first p element that follows an h3
.post-content h3 + p {
    margin-left: 24;
    float: left;
    width: 75%;
}*/

#education + p {
    padding-bottom: 0rem;
}

.post-content li p {
  margin: 0;
}


}


